@{
    ViewData["Title"] = "Profile";
}
<div class="breadcrumbs">
    <div class="container">
        <h1 class="pull-left">Profile</h1>
    </div>
</div>
<div class="container content">
    <div class="col-md-12 ht450">

    </div>
</div>