<form name="$ctrl.editJobCategoryForm" autocomplete="off" novalidate class="searchForm sky-form mrt50 mrb20">
    <header class="text-center">
        Edit Job Category No.{{id}}
    </header>
    <div asp-validation-summary="All" class="text-danger"></div>
    <fieldset>
        <section>
            <label class="label">Name</label>
            <label class="input">
                <input type="text" ng-model="$ctrl.name" name="name" required />
            </label>
            <span ng-show="$ctrl.name == null && $ctrl.editJobCategoryForm.name.$error.required && $ctrl.editJobCategoryForm.name.$touched" class="text-danger">Name is required.</span>
        </section>
        <section>
            <label class="label">URL Friendly Name</label>
            <label class="input">
                <input type="text" ng-model="$ctrl.nameURL" name="nameURL" required ng-mouseleave="$ctrl.onTitleMouseLeave()"/>
            </label>
            <span ng-show="$ctrl.nameURL.length == null && $ctrl.editJobCategoryForm.nameURL.$error.required && $ctrl.editJobCategoryForm.nameURL.$touched" class="text-danger">Name URL friendly is required.</span>
        </section>
        <section>
            <label class="label">Rank</label>
            <label class="input">
                <input type="text" ng-model="$ctrl.rank" name="rank" required />
            </label>
            <span ng-show="$ctrl.rank.length == null && $ctrl.editJobCategoryForm.rank.$error.required && $ctrl.editJobCategoryForm.rank.$touched" class="text-danger">Rank is required.</span>
        </section>
    </fieldset>
    <footer class="text-right">
        <button type="submit" class="btn-u" ng-click="$ctrl.backClick()">Back</button>
        <button type="submit" class="btn-u" ng-click="$ctrl.updateClick()" ng-disabled="$ctrl.editJobCategoryForm.$invalid">Update</button>
    </footer>
</form>
