<li class="dropdown">
    <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown">
        Dashboard
    </a>
    <ul class="dropdown-menu">
        <li>
            <a href="/Dashboard/Avatar">Avatar</a>
        </li>
        <li>
            <a href="/Dashboard/Profile">Profile</a>
        </li>
        <li class="dropdown-submenu">
            <a>Jobs</a>
            <ul class="dropdown-menu">
                <li><a href="/Dashboard/Jobs/Add">Add</a></li>
                <li><a href="/Dashboard/Jobs/List">List</a></li>
            </ul>
        </li>
        <li>
            <a href="/Dashboard/Comments">Comments</a>
        </li>
    </ul>
</li>