<li class="dropdown">
    <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown">
        Events
    </a>
    <ul class="dropdown-menu">
        <li class="dropdown-submenu">
            <a href="/Events/International">International</a>
            <ul class="dropdown-menu">
                <li><a href="/Events/International/Sports-Rallies-Tournaments-Marathons">Sports/Rallies/Tournaments/Marathons</a></li>
                <li><a href="/Events/International/Concerts-Musics">Concerts/Musics</a></li>
                <li><a href="/Events/International/Exhibitions-Expos">Exhibitions/Expos</a></li>
                <li><a href="/Events/International/Conferences-Seminars">Conferences/Seminars</a></li>
                <li><a href="/Events/International/Fashions">Fashions</a></li>
                <li><a href="/Events/International/Festivals-Parades">Festivals/Parades</a></li>
                <li><a href="/Events/International/Others">Others</a></li>
            </ul>
        </li>
        <li class="dropdown-submenu">
            <a href="/Events/Nation-Wide">Nation Wide</a>
            <ul class="dropdown-menu">
                <li><a href="/Events/International/Sports-Rallies-Tournaments-Marathons">Sports/Rallies/Tournaments/Marathons</a></li>
                <li><a href="/Events/International/Concerts-Musics">Concerts/Musics</a></li>
                <li><a href="/Events/International/Exhibitions-Expos">Exhibitions/Expos</a></li>
                <li><a href="/Events/International/Conferences-Seminars">Conferences/Seminars</a></li>
                <li><a href="/Events/International/Fashions">Fashions</a></li>
                <li><a href="/Events/International/Festivals-Parades">Festivals/Parades</a></li>
                <li><a href="/Events/Nation-Wide/MeetUp">MeetUp</a></li>
                <li><a href="/Events/Nation-Wide/Charities">Charities</a></li>
                <li><a href="/Events/Nation-Wide/Others">Others</a></li>
            </ul>
        </li>
        <li class="dropdown-submenu">
            <a href="/Events/Community">
                Community
            </a>
            <ul class="dropdown-menu">
                <li><a href="/Events/Community/Festivals-Parades">Festival/Parades</a></li>
                <li><a href="/Events/Community/Food-Markets">Food Markets</a></li>
                <li><a href="/Events/Community/Garage-Sales">Garage Sales</a></li>
                <li><a href="/Events/Community/Flee-Markets">Flee Markets</a></li>
                <li><a href="/Events/Community/Others">Others</a></li>
            </ul>
        </li>
        <li><a href="/Events/Others">Others</a></li>
    </ul>
</li>