<div class="footer">
    <div class="container">
        <div class="row">
            <OurMission></OurMission>
            <News></News>
            <Links></Links>
            <ContactUs suburb="Riverwood" state="NSW" post-code="2210" country="Australia" email="webmaster@livingsuburb.com.au"></ContactUs>
        </div>
    </div>
</div>