<li class="dropdown-submenu">
    <a href="/Jobs/Healthcare-Medical">
        Healthcare &amp; Medical
    </a>
    <ul class="dropdown-menu">
        <li><a href="/Jobs/Healthcare-Medical/Doctor">Doctor</a></li>
        <li><a href="/Jobs/Healthcare-Medical/Doctor-Specialist">Doctor Specialist</a></li>
        <li><a href="/Jobs/Healthcare-Medical/Pharmacist">Pharmacist</a></li>
        <li><a href="/Jobs/Healthcare-Medical/Theraphist">Theraphist</a></li>
        <li><a href="/Jobs/Healthcare-Medical/Laboratory">Laboratory</a></li>
        <li><a href="/Jobs/Healthcare-Medical/Administration">Administration</a></li>
        <li><a href="/Jobs/Healthcare-Medical/Registered-Nurse">Registered Nurse</a></li>
        <li><a href="/Jobs/Healthcare-Medical/Management">Management</a></li>
        <li><a href="/Jobs/Healthcare-Medical/Others">Others</a></li>
    </ul>
</li>