<li class="dropdown-submenu">
    <a href="/Jobs/Information-Technology">Infomation Technology</a>
    <ul class="dropdown-menu">
        <li><a href="/Jobs/Information-Technology/Software-Developer">Software Developer</a></li>
        <li><a href="/Jobs/Information-Technology/Mobile-Developer">Mobile Developer</a></li>
        <li><a href="/Jobs/Information-Technology/Web-Developer">Web Developer</a></li>
        <li><a href="/Jobs/Information-Technology/Software-Architect">Software Architect</a></li>
        <li><a href="/Jobs/Information-Technology/Software-Support">Software Support</a></li>
        <li><a href="/Jobs/Information-Technology/Software-Consultant">Software Consultant</a></li>
        <li><a href="/Jobs/Information-Technology/Software-Sales">Software Sales</a></li>
        <li><a href="/Jobs/Information-Technology/Software-UX-Designer">Software UX Designer</a></li>
        <li><a href="/Jobs/Information-Technology/Business-Analyst">Business Analyst</a></li>
        <li><a href="/Jobs/Information-Technology/System-Analyst">System Analyst</a></li>
        <li><a href="/Jobs/Information-Technology/Networking">Networking</a></li>
        <li><a href="/Jobs/Information-Technology/Networking-Architect">Networking Architect</a></li>
        <li><a href="/Jobs/Information-Technology/Hardware-Engineer">Hardware Engineer</a></li>
        <li><a href="/Jobs/Information-Technology/Solution-Architect">Solution Architect</a></li>
        <li><a href="/Jobs/Information-Technology/DevOps-Engineer">DevOps Engineer</a></li>
        <li><a href="/Jobs/Information-Technology/Help-Desk-IT-Support">Help Desk &amp; IT Support</a></li>
        <li><a href="/Jobs/Information-Technology/Tester-QA">Tester &amp; QA</a></li>
        <li><a href="/Jobs/Information-Technology/System-Security">System Security</a></li>
        <li><a href="/Jobs/Information-Technology/Management">Management</a></li>
        <li><a href="/Jobs/Information-Technology/Others">Others</a></li>
    </ul>
</li>