<li class="dropdown">
    <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown">
        Managment
    </a>
    <ul class="dropdown-menu">
        <li class="dropdown-submenu">
            <a>Events</a>
            <ul class="dropdown-menu">
                <li><a href="/Management/Events/Add">Add</a></li>
                <li><a href="/Management/Events">List</a></li>
            </ul>
        </li>
        <li class="dropdown-submenu">
            <a>Job Categories</a>
            <ul class="dropdown-menu">
                <li><a href="/Management/JobCategories/Add">Add</a></li>
                <li><a href="/Management/JobCategories">List</a></li>
            </ul>
        </li>
        <li class="dropdown-submenu">
            <a>Job Sub Categories</a>
            <ul class="dropdown-menu">
                <li><a href="/Management/JobSubCategories/Add">Add</a></li>
                <li><a href="/Management/JobSubCategories">List</a></li>
            </ul>
        </li>
        <li class="dropdown-submenu">
            <a>Countries</a>
            <ul class="dropdown-menu">
                <li><a href="/Management/Countries/Add">Add</a></li>
                <li><a href="/Management/Countries">List</a></li>
            </ul>
        </li>
        <li class="dropdown-submenu">
            <a>Suburbs</a>
            <ul class="dropdown-menu">
                <li><a href="/Management/Suburbs/Add">Add</a></li>
                <li><a href="/Management/Suburbs/Add-Bulk">Add Bulk</a></li>
                <li><a href="/Management/Suburbs">List</a></li>
            </ul>
        </li>
        <li class="dropdown-submenu">
            <a>Jobs</a>
            <ul class="dropdown-menu">
                <li><a href="/Management/Jobs/Add">Add</a></li>
                <li><a href="/Management/Jobs">List</a></li>
            </ul>
        </li>
        <li class="dropdown-submenu">
            <a>Carousels</a>
            <ul class="dropdown-menu">
                <li><a href="/Management/Carousels/Add">Add</a></li>
                <li><a href="/Management/Carousels">List</a></li>
            </ul>
        </li>
        <li class="dropdown-submenu">
            <a>Galleries</a>
            <ul class="dropdown-menu">
                <li><a href="/Management/Galleries/Add">Add</a></li>
                <li><a href="/Management/Galleries">List</a></li>
            </ul>
        </li>
        <li>
            <a href="/Management/Tags">Tags</a>
        </li>
        <li>
            <a href="/Management/Users">Users</a>
        </li>
    </ul>
</li>