@{
    ViewData["Title"] = "New";
}
<div class="row">
    <div class="col-md-12">
        <ol class="breadcrumb">
            <li><a asp-area="" asp-controller="State" asp-action="Index">State</a></li>
            <li class="active">@Html.Raw(ViewData["Title"])</li>
        </ol>
    </div>
    <div class="col-md-12">
        <p>Use this area to provide additional information.</p>
    </div>
</div>

