@{
    ViewData["Title"] = "Privacy Policy";
}
<!--=== Breadcrumbs ===-->
<div class="breadcrumbs">
    <div class="container">
        <h1 class="pull-left">Privacy Policy</h1>
        <ul class="pull-right breadcrumb">
            <li><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
            <li class="active">Privacy Policy</li>
        </ul>
    </div>
</div><!--/breadcrumbs-->
<!--=== End Breadcrumbs ===-->
<!--=== Content Part ===-->
<div class="container content">
    <div class="row">
        <!-- Begin Sidebar Menu -->
        <div class="col-md-12">
            <div class="term-policy">
                <p>There are several terms being used in our <b>Privacy Policy</b> that you may need to understand first :</p>
                <span>The term "Us","Our" and "We" in this website is referring to www.livingsuburb.com.au. </span><br />
                <span>The term "User" or "Users" is referring to our registered member who either registers directly from our registration page or through third party external login providers like Google+ or Facebook. </span><br />
                <span>The term "Visitor" or "Visitors" is referring to either our registered or non registered <b>Users</b> of our website and its services.</span><br />
                <span>The term "User's Posts" is referring to any comments,jobs or other adverts the <b>User</b> had posted on our website.</span><br />
                <span>The term "Personal information" is information that can be associated with a specific person that could be used to identify that specific person, either from the data directly or from that data combined with other information that we have, or are likely to have, access to. Personal information doesn’t include anonymous or aggregated information that can no longer be used to identify a specific person.</span>
            </div>
            <p>&nbsp;</p>
            <p>We are respecting the privacy right of our users and visitors. But to make this website able to function properly it may require our <b>Users</b> or <b>Visitors</b> browser's cookies to be enabled.</p>
            <p>We will anonymously monitor our <b>Users</b> or <b>Visitors</b> visits on our website by using Google Analytic for the sake of the improvement of the web site.</b> </p>
            <p>We may use your personal information to improve and provide you a personalised experience on our sites and provide you with personalised advertising and marketing (including marketing from third parties), and to detect, prevent and investigate fraud and/or other illegal activities.</p>
            <p>We keep personal information from active accounts as long as it is needed for our operations. We also keep personal information from closed accounts when we’re legally required to and also to stop fraud, collect outstanding fees, troubleshoot problems, help with investigations, enforce our Terms of Use and take other actions under applicable national laws.</p>
            <p>We protect your information using technical and administrative security measures.</p>
            <p>We let the <b>User</b> or <b>Users</b> of our website to choose how we use your personal information to communicate with you.</p>
            <p>We reserve a right to update or modify our Privacy Policy as we see fit.</p>

        </div>
        <!-- End Sidebar Menu -->
    </div>
</div><!--/container-->
<!--=== End Content Part ===-->
