@{
    ViewData["Title"] = "Terms & Conditions";
}
<!--=== Breadcrumbs ===-->
<div class="breadcrumbs">
    <div class="container">
        <h1 class="pull-left">Terms of Service</h1>
        <ul class="pull-right breadcrumb">
            <li><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
            <li class="active">Terms of Service</li>
        </ul>
    </div>
</div><!--/breadcrumbs-->
<!--=== End Breadcrumbs ===-->
<!--=== Content Part ===-->
<div class="container content">
    <div class="row">
        <!-- Begin Sidebar Menu -->
        <div class="col-md-12">
            <div class="term-policy">
                <p>There are several terms being used in our <b>Privacy Policy</b> that you may need to understand first :</p>
                <span>The term "Us","Our" and "We" in this website is referring to www.livingsuburb.com.au. </span><br />
                <span>The term "You" is referring to any registered member who either registers directly from our registration page or through third party external login providers like Google+ or Facebook as well as any non registered users who are visiting to our website.</span><br />
                <span>The term "Post" or "Posts" is referring to any jobs,comments or users' advertisement on our website.</span>
                <span>The term "Personal information" is information that can be associated with a specific person that could be used to identify that specific person, either from the data directly or from that data combined with other information that we have, or are likely to have, access to. Personal information doesn’t include anonymous or aggregated information that can no longer be used to identify a specific person.</span>
            </div>
            <p>&nbsp;</p>
            <p>You agree to provide the correct information about your personal information on our registration page.</p>
            <p>You agree to provide the correct information on your posts on our website.</p>
            <p>You agree not to post pornography/offensive materials/comments and illegal drugs/substances/services or infringe any third parties right our website.</p>
            <p>You agree that we have a right to pass on your personal information to law enforcement agency to deter,investigate and solve criminal activities on our website when it is required by law.</p>
            <p>You agree that we have a right to remove any of your posts which we consider not appropriate,offensive,potentially fraudulent,having bad reputations/complains from other <b>Users</b> or <b>Visitors</b>.</p>
            <p>You agree that we have a right to suspend your account or block you from posting any post when we consider your behaviour is suspicious,fraudulent,offensive,hateful or having bad reputations/complains from other <b>Users</b> or <b>Visitors</b>.</p>
            <p>You agree that we do not provide back up of your posts. So you need to manage your own original posts on your own systems.</p>
            <p>You agree that we have a right to remove your old posts from our database as we only keep your post maximum only for 12 months.</p>
            <p>You agree that by agreeing this <b>Terms of Service</b> you agree on our <b>Privacy Policy</b>.</p>
            <p>You agree that we reserve a right to update or modify our Terms of Service as we see fit.</p>
        </div>
        <!-- End Sidebar Menu -->
    </div>
</div><!--/container-->
<!--=== End Content Part ===-->
