@{
    ViewData["Title"] = "After Reset Password";
}
<div class="breadcrumbs">
    <div class="container">
        <h1 class="pull-left">After Reset Password</h1>
        <ul class="pull-right breadcrumb">
            <li><a href="/">Home</a></li>
            <li><a href="/ForgotPassword">Reset Password</a></li>
            <li class="active">After Reset Password</li>
        </ul>
    </div>
</div><!--/breadcrumbs-->
<div class="row">
    <div class="col-md-12 text-center ht450">
        <section>
            <h4>Your password on www.livingsuburb.com.au has been updated.</h4>
        </section>
    </div>
</div>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script type="text/javascript">
        var appModule = angular.module('appModule', []);
    </script>
}

