@model LivingSuburb.Models.Account.ForgotPassword
@{
    ViewData["Title"] = "Lock Out";
}

<!--=== Breadcrumbs ===-->
<div class="breadcrumbs">
    <div class="container">
        <h1 class="pull-left">Forget Your Password</h1>
        <ul class="pull-right breadcrumb">
            <li><a href="/">Home</a></li>
            <li class="active">Forget Your Password</li>
        </ul>
    </div>
</div><!--/breadcrumbs-->
<div class="container content">
    <div class="col-md-offset-3 col-md-6 text-center ht450">
        <section>
            <form asp-controller="Account" asp-action="ForgotPassword" class="sky-form mrt50 mrb20" method="post">
                <header class="text-center">Please Enter Your Email</header>
                <fieldset>
                    <section>                        
                        <label class="input">
                            <input asp-for="Email" asp-format="email" placeholder="youremail@gmail.com" />
                        </label>
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </section>
                    <section class="text-right">
                        <button type="submit" class="btn-u">Submit</button>
                    </section>
                </fieldset>
            </form>
        </section>
    </div>
</div>
