@{
    ViewData["Title"] = "Require Two Factor Authentication";
}
<!--=== Breadcrumbs ===-->
<div class="breadcrumbs">
    <div class="container">
        <h1 class="pull-left">Require Two Factor Authentication</h1>
        <ul class="pull-right breadcrumb">
            <li><a href="/">Home</a></li>
            <li class="active">Require Two Factor Authentication</li>
        </ul>
    </div>
</div><!--/breadcrumbs-->
<div class="container content">

</div>
@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
    <script type="text/javascript">
        var appModule = angular.module('appModule', []);
    </script>
}
