@model LivingSuburb.Models.Account.ResetPasswordModel
@{
    ViewData["Title"] = "Reset Password";
}
<div class="breadcrumbs">
    <div class="container">
        <h1 class="pull-left">Reset Password</h1>
        <ul class="pull-right breadcrumb">
            <li><a href="/">Home</a></li>
            <li class="active">Reset Password</li>
        </ul>
    </div>
</div><!--/breadcrumbs-->
<div class="row">
    <div class="col-md-offset-4 col-md-4 ht450">
        <section>
            <form asp-controller="Account" asp-action="ResetPassword" class="sky-form mrt50 mrb20" method="post">
                <header class="text-center">Please Enter Your New Password</header>
                <fieldset>
                    <section>
                        <input type="hidden" asp-for="Email" />
                    </section>
                    <section>
                        <label class="label" asp-for="Password"></label>
                        <label class="input">
                            <input asp-for="Password" />
                        </label>
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </section>
                    <section>
                        <label class="label" asp-for="ConPassword"></label>
                        <label class="input">
                            <input asp-for="ConPassword" />
                        </label>
                        <span asp-validation-for="ConPassword" class="text-danger"></span>
                    </section>
                    <section class="text-right">
                        <button type="submit" class="btn-u">Submit</button>
                    </section>
                </fieldset>
            </form>
        </section>
    </div>
</div>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script type="text/javascript">
        var appModule = angular.module('appModule', []);
    </script>
}

